.navbar-info{
  background: #140055;
  color: white;
  height: 29px;
  padding-top: 3px;
}
.background-purple{
  background: #2f236e;
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
}
.txt-title{
  font-family: 'Montserrat', sans-serif;
}
