@font-face {

font-family: OpenSans;

src: url(../fonts/OpenSans-Regular.ttf) format(‘truetype’);

}

body{
  font-family: OpenSans, sans-serif;
}


.left{
  float: left;
}
.right{
  float: right;
}
.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}
.btn-hover{
  color: #636263;
}
.btn-hover:hover{
  color: #746e98;
}
.btn-cotizar{
  color: white;
  background-color: #2f236e;
  border-color: #2f236e;
}
.btn-custom{
  background: #5D3BAB;
  box-shadow: 4px 4px 9px black;
  color: white;
}
.txt-paragraph{
  color: #636263;
}
.txt-color-purple{
  color: #201364;
}

.background-lilac{
  background: #ece8ff;
}
.background-pink{
  background: #c994ab;
}
.background-purple{
  background: #2f236e;
}


.img-cirugia-oral{
  background: url(../images/cirugiaOral.jpg);
  background-size: cover;
}
.img-radiologia{
  background: url(../images/radiologiaOral.jpg);
  background-size: cover;
}

.navbar-info{
  background: #140055;
  color: white;
  height: 29px;
  padding-top: 3px;
}
.ctn-content{
  box-shadow: 1px 3px 35px grey;
  margin-top: 30px;
}
.ctn-odontologia{
  margin: 0 auto;
  text-align: justify;
  width: 330px;
}
.ctn-objetivo{
  background: #2f236e;
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
}
.ctn-ortodoncia{
  margin: 0 auto;
  text-align: justify;
  width: 330px;
}
.li-space{
  margin-bottom: 10px;
}
.li-space:first-child {
  margin-top: 10px;
}
.icon-contacto{
  background-color: white;
  background-image: url(../images/LOGO-ORALGIN.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 120px;
  background-position: 5px;
}

/*Media Querys*/
@media (max-width: 650px) {
  .navbar-info{
    height: 55px;
  }
}
